/* Asegura que el contenedor ocupa toda la altura de la ventana */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal que crece para llenar el espacio */
main {
  flex: 1;
}

/* Footer */
footer {
  background-color: var(--highlight-color);
  color: var(--main-bg-color);
  padding: 10px 0;
  border-top: 5px solid var(--border-color);
  font-family: 'Georgia', serif;
  text-align: center;
}

/* Estilos internos del footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}

.social-media a {
  margin-right: 1.2rem;
}

.social-media img {
  height: 30px;
  width: 30px;
  transition: transform 0.3s;
  filter: sepia(0.7);
}

.social-media img:hover {
  transform: scale(1.2);
  filter: sepia(0.5);
}

.footer-text p {
  margin-right: -12rem;
  font-style: italic;
  font-size: 1.2rem;
  font-family: 'Times New Roman', serif;
  color: white;
}

.footer-links a {
  color: var(--main-bg-color);
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
  font-family: 'Courier New', monospace;
}

.footer-links a:hover {
  color: var(--hover-border-color);
}
