<section id="cta">
    <div class="scrolling-image"></div>
    <div class="backdrop"></div>
    <div class="inner">
        <h1>Netfilms</h1>
        <p><i>"Manage your movies and series effortlessly"</i></p>
    </div>
    <div class="button-section" id="authSection">
        <a class="button" href="/singIn">Login</a>
        <a class="button" href="#">Sign up</a>
    </div>
    <a href="#films" class="scroll-down"> &#x25BC; </a>
</section>
