<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
<%- include("partials/userMenu") %>
<main id="peliculas">
    <section id="latestMovies" class="latest-movies">
        <h1>Your library</h1>
        <div class="movies-grid">
            <div class="movie-card" data-aos="fade-up">
                <img src="images/films/caroline.png" alt="Caroline" />
                <p>Caroline</p>
            </div>
        </div>
    </section>
</main>
<%- include("partials/footer") %>
</body>
</html>
