<nav id="navUser">
    <div id="user" class="usuario-autenticado">
        <img src="images/user.png" alt="user" />
        <span>Adrián</span>
    </div>
    <div class="menu">
        <a href="#">Add Movie</a>
        <a href="#">My Library</a>
        <a href="#">Settings</a>
        <a href="/support">Support</a>
    </div>
    <div class="logout">
        <a href="/home" class="button">Log out</a>
    </div>
</nav>
